.flex {
  display: flex
}

.apart {
  justify-content: space-between;
}

.btn {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 5px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  transition: box-shadow 0.3s;
}

.btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.btn-lg {
  padding: 40px;
  font-size: 1.5rem;
  font-weight: 900;
}

.primary {
  background: #bada55;
  border-color: #bada55;
}

.secondary {
  background: white;
  border-color: #bada55;
}

.flex {
  display: flex;
}

.flex h1, .flex button {
  width: 50%;
}

.centered {
  align-items: center;
  justify-content: center;
}